/*-- variable --*/
:root {
    /*-- color var --*/
    --bck-color: #212121;
    --font-color: #eeeeee;
    --elem-color: #141414;
    --font-theme-color: #4F96E8;

    /*-- font var --*/
    --content-font: 'Asap', sans-serif;
    --title-font: 'Marvel', sans-serif;

    /*-- lien img --*/
    --img-header-home: url("img/image-header1.jpg");
    --img-header-breif: url("img/image-header2.jpg");
    --img-cpc: url("img/logocpc.png");
    --img-gie: url("img/logogie.png");
}

html {
    background-color: var(--bck-color);
}

/*-- link --*/
a {
    color: var(--font-theme-color);
}

a:active,
a:focus,
a:hover {
    opacity: 60%;
    color: var(--font-theme-color);
}

/*-- navbar --*/
.navbar-burger.burger {
    color: var(--font-color);
}

.navbar, .navbar-menu {
    background-color: var(--elem-color);
}

.navbar .navbar-menu a.navbar-item, 
.navbar .navbar-menu a.navbar-link {
    font-family: var(--title-font);
    font-size: 20px;
    color: var(--font-color);
    letter-spacing: 2px;
}

.navbar .navbar-menu a.navbar-item:active, 
.navbar .navbar-menu a.navbar-item:focus,
.navbar .navbar-menu a.navbar-item:hover {
    background-color: var(--bck-color);
}

.navbar-item.has-dropdown.is-active .navbar-link, 
.navbar-item.has-dropdown:focus .navbar-link, 
.navbar-item.has-dropdown:hover .navbar-link {
    background-color: var(--bck-color);
}

.navbar .navbar-menu .navbar-dropdown {
    background-color: var(--elem-color);
    border: none;
    display: none;
}

.navbar .navbar-menu .toggle-dropdown .navbar-dropdown {
    display: block;
}

.navbar .navbar-menu .toggle-dropdown .navbar-link::after {
    transform: rotate(135deg) translate(.25em,-.25em);
}

.navbar .navbar-menu .navbar-dropdown a.navbar-item {
    margin: 0px 15px !important;
    padding-left: 30px;
}

.navbar .navbar-menu .navbar-start {
    margin-left: 15px;
}

.navbar .navbar-menu .navbar-start a.navbar-item, 
.navbar .navbar-menu a.navbar-link {
    margin: 0px 15px;
}

.navbar .navbar-menu a.navbar-item {
    padding: 8px 15px;
}

.navbar .navbar-menu a.navbar-link {
    padding: 8px 50px 8px 15px;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: var(--font-color);
}

.navbar .navbar-menu .navbar-end {
    margin-right: 40px;
    margin-left: 15px;
}

.navbar .navbar-menu .navbar-end .separator {
    margin-top: 15px;
    margin-left: 15px;
    border-top: 1px solid var(--font-color);
    height: 10px;
    width: auto;
    display: block;
}

.navbar .navbar-menu .navbar-end a.navbar-item {
    margin-left: 15px;
}

.navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
    height: 100vh;
}

/*-- image header --*/
header #img-header {
    background: var(--img-header-home);
    object-fit: cover;
    height: 425px;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header #img-header.breif {
    background: var(--img-header-breif);
    object-fit: cover;
    height: 425px;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header #img-header.scrolled {
    opacity: 60%;
}

/*-- information panel --*/
.information-panel {
    background-color: var(--bck-color);
    padding: 50px;
    border-radius: 5px;

    font-family: var(--content-font);
    font-size: 16px;
    color: var(--font-color);
}

.information-panel .title {
    font-family: var(--title-font);
    font-size: 20px;
    color: var(--font-color);
    letter-spacing: 2px;
}

.information-panel .info-top {
    margin-bottom: 25px;
}

.information-panel .info-val {
    color: var(--font-theme-color);
}

/*-- logo panel --*/
.logo-panel {
    background-color: var(--font-color);
    border-radius: 5px 5px 0px 0px;
    display: inline-flex;
    padding: 10px 15px;
    height: auto;
    width: auto;
    
    position: relative;
    left: 0px;
    margin-top: 0px;
}

.logo-panel #logo-cpc {
    background: var(--img-cpc);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-panel #logo-gie {
    background: var(--img-gie);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-panel .logo {
    height: 64px;
    width: 64px;
    margin: 0px 10px;
}

.logo-panel {
    position: relative;
    display: inline-flex;
    margin-left: 50px;
}

/*-- content --*/
/*- title -*/
section .content-title {
    background-color: var(--bck-color);
    
    border-radius: 0px;
    position: relative;
    padding: 50px;
    border-top: 1px solid var(--font-color);
}


section .content-title h1.title {
    font-family: var(--title-font);
    letter-spacing: 2px;
    color: var(--font-color);
    font-size: 36px;
}

section .content-title h1.title span.title-color {
    color: var(--font-theme-color);
}

/*- content -*/
section .content {
    background-color: var(--elem-color);
    padding: 50px;
    color: var(--font-color);
    font-family: var(--content-font);
    font-size: 16px;
}

section .content img {
    object-fit: cover;
    height: 300px;
    width: auto;
    margin: 20px 0px;
}

/*-- footer --*/
footer.footer {
    background-color: var(--elem-color);
    color: var(--font-color);
    font-family: var(--content-font);
    font-size: 14px;

    border-top: 1px solid var(--font-color);
}

footer.footer strong {
    font-weight: bold;
    color: var(--font-color);
}

/*-- media queries --*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*-- navbar --*/
    .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
        height: auto;
    }

    .navbar .navbar-menu .navbar-dropdown a.navbar-item {
        margin: 0px !important;
    }

    .navbar .navbar-menu .navbar-end .separator {
        display: none;
    }

    /*-- information panel --*/
    .information-panel {
        position: absolute;
        right: 40px;
        top: 200px;
    }

    /*-- logo panel --*/
    .logo-panel {
        position: absolute;
        left: 200px;
        margin-top: -50px;
    }

    /*-- content --*/
    /*- title -*/
    section .content-title {
        position: absolute;
        left: 60px;
        margin-top: -50px;
        padding: 20px 50px;
        border-radius: 5px;
        border: none;
    }

    section .content {
        margin: 80px;
        border-radius: 5px;
    }

    /*-- footer --*/
    footer.footer {    
        border: none;
    }  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*-- navbar --*/
    .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
        height: auto;
    }

    .navbar .navbar-menu .navbar-dropdown a.navbar-item {
        margin: 0px !important;
    }

    .navbar .navbar-menu .navbar-end .separator {
        display: none;
    }

    /*-- information panel --*/
    .information-panel {
        position: absolute;
        right: 40px;
        top: 200px;
    }

    /*-- logo panel --*/
    .logo-panel {
        position: absolute;
        left: 200px;
        margin-top: -135px;
    }

    /*-- content --*/
    /*- title -*/
    section .content-title {
        position: absolute;
        left: 80px;
        margin-top: -134px;
        padding: 20px 50px;
        border-radius: 5px;
        border: none;
    }

    /*- content -*/
    section .content {
        margin: 80px;
        border-radius: 5px;
    }
    
    section .content img {
        height: 500px;
    }

    /*-- footer --*/
    footer.footer {    
        border: none;
    }    
}